/* RESPONSIVE: show burger icon on mobile */
@media (max-width: 900px) {
    .sidebar_popular {
        display: none;
    }
    .header_nav{
        position: fixed;
        top: 70px;
        right: -100%;
        background: #0F172A;
        padding: 40px 20px;
        box-shadow: -8px 0 24px rgba(0,0,0,0.5);
        z-index: 100;
        display: flex;
        align-items: flex-start;
    }
    .header_nav.open{
        right: 0;   
    }
    .header_ul{
        flex-direction: column;
        gap: 14px;
    }
    .burger{
        display: block;
    }
    .movies_grid{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}